* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
}
body {
    background-color: #f1f1f1;
}
.container {
    width: 600px;
    background-color: #457cf0;
    border-radius: 4px;
    margin: 20px auto;
    padding: 12px 40px;
    position: relative;
    box-shadow: 0.5px 0.5px 8px 2px;
}
.form-cnt form .validation-errors {
    padding: 12px;
    background-color: #de6b6b;
    border-radius: 4px;
    color: black;
    display: none
}
.form-cnt .form-title h3 {
    font-family: cursive;
}
.form-cnt form .inputs {
    margin-top: 12px;
}
.form-cnt form label {
    font-size: 13px;
}
.form-cnt form input:not([type=radio]) {
    display: block;
    width: 100%;
    padding: 8px 12px;
    margin-top: 8px;
    outline: none;
    border-radius: 2px;
    border: none;
}
.form-cnt form button{
    padding: 10px 30px;
    border: none;
    outline: none;
    background: #000000;
    background: linear-gradient(to right, #434343, #000000); 
    color: white;
    border-radius: 4px;
    transition: 1s;
}
.form-cnt form button:hover{
    cursor: pointer;
    background: linear-gradient(to left, #434343, #000000); 
}
.column {
    column-count: 2;
}

@media screen and (max-width: 768px) {
    .container {
        width: 350px;
    }
    .col-half {
        column-count: 1;
    }
}

@media screen and (max-width: 425px) {
    .container {
        width: 300px;
    }
}