       body{
        background-color: #BDBDBD;"
       }
       span{
           color: dodgerblue;
           width: 20px;
           padding: 20px 20px 20px 0px;
           position: relative;
           top: 10px;
       }
       p{
           position: relative;
           top: 10px;
           padding: 20px 20px 20px 0px;
       }
       .container{
           column-count: 3;
           column-width: 250px;
            column-gap: 10px;
       }
       .container1{
           column-count: 3;
           column-width: 200px;
           column-gap: 10px;
       }
       ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color:white;
            text-decoration:none;
        }
        .flexcontainer{
            display: flex;
            flex-direction: row;
            
            max-width: 250px;
        }
       .flexcontainer1{
            display: flex;
            flex-direction: row;
            max-width: 230px;
            
        }
        .flexitem1{
            width: 200px;
            
        }
        li a {
            display: block;
            color: rgb(15, 15, 15);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li{
            float:left;
            
        }
        #div1 {
            width:250px;
            margin-top: 40px;
            margin-left: 40px;
            padding: 30px 30px 50px 20px;
            background-color: whitesmoke;
        }
        #div2{
            width: 250px;
            margin-top: 20px;
            margin-left: 40px;
            padding: 30px 30px 50px 20px;
            background-color: whitesmoke;
        }
        #div3{
            width: auto;
            padding:15px 35px 15px 35px;
            position: relative;
            top: 40px;
            left: 40px;
            margin-top: 150px;
            background-color: whitesmoke;
            flex-direction: row;
             
        }
        #div4{
            width: 250px;
            padding: 30px 35px 30px 35px;
            position: relative;
            top: 109px;
            margin-left: 40px;
            margin-top: 20px;
            background-color: whitesmoke;
        }
        #div5{
            width:250px;
            margin-top: 40px;
            margin-left: 40px;
            position: relative;
            top: 160px;
            right: 10px;
            padding: 30px 30px 50px 20px;
            background-color: whitesmoke;
        }
        #div6{
            width: 250px;
            padding: 30px 35px 30px 35px;
            position: relative;
            top: 110px;
            right: 10px;
            bottom: 100px;
            margin-left: 40px;
            margin-top: 10px;
            background-color: whitesmoke;
        }
        button.b1{
           position:relative;
           display: inline-block;
           background-color: #4CAF50;
           color: honeydew;
           left: 190px;
           top: 20px;
           padding: 10px 20px;
           border: none;

        }
        button.b2{
            position: relative;
            left: 130px;
            padding: 5px 15px 5px 15px;
            display: inline-block;
            z-index: 5;
            background-color:#2979FF;
            color: whitesmoke;
        }
        #input1{
            padding: 10px 10px 10px 10px;
            position: relative;

        }
        textarea{
            width: 250px;
            height: auto;
        }
        